<div class="search-content__inner-wrap">
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}

  {%- when "lunr" -%}
    {% if site.search_from_masthead == false %}
      {% include /search/search_input.html %}
    {% endif %}
    <div id="results" class="results {% if site.search_from_masthead %}from-masthead{% else %}from-search-content{% endif %}"></div>

  {%- when "google" -%}
    {% include /search/search_input.html %}
    <div id="results" class="results">
      <gcse:searchresults-only></gcse:searchresults-only>
    </div>

  {%- when "algolia" -%}
    {% include /search/search_input.html %}
    <div class="search-hits"></div>
  {%- endcase -%}
</div>
