{% comment %}
<!-- Dynamic loading of the user selected skin stylesheet -->
{% endcomment %}

<link rel="stylesheet" id="skinedStylesheet" href="{{ '/assets/css/main_oi-light.css' | relative_url }}">

<style>
  #full-page-container.full-page-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: contents;
  }

  #full-page-container.hidden {
    visibility: hidden;
    display: none;
  }
</style>

<script async="false">

  (function () {
    const defaultDarkSkin = 'oi-dark';
    const defaultLightSkin = 'oi-light';

    const selectedSkinStateKey = 'skin-state';
    const selectedSkinBackgroundColorKey = 'skin-background-color'
    const lightSkinKey = 'skin-light';
    const darkSkinKey = 'skin-dark';
  
    const darkModeStateOn = 'dark';
    const darkModeStateOff = 'light';

    //selectedLightSkin = 'default';
    //selectedDarkSkin = 'default';

    function setSkinModeState(state) {
      const stylesheet = document.getElementById('skinedStylesheet');
      const skinName = getSkinForState(state);

      // TODO: It seems it is not always triggered on a href value change once it is loaded/cached
      //       We might have to force save the new color somehow in a different way as well
      //       (Maybe a delayed saveColorChanges from window.addEventListener("load", ...) bellow ?!?!
      stylesheet.onload = saveColorChanges;
      stylesheet.href = docPrefix() + '/assets/css/main' + (skinName == 'default' ? '' : '_' + skinName) + '.css';
      
      setCookie(selectedSkinStateKey, state);
    }

    function getLightSkin() {
      return getCookie(lightSkinKey, defaultLightSkin, true);
    }

    function getDarkSkin() {
      return getCookie(darkSkinKey, defaultDarkSkin, true);
    }

    function getSkinModeState() {
      return getCookie(selectedSkinStateKey, darkModeStateOff, true);
    }
    
    function getSkinForState(state) {
      return state == darkModeStateOn ? getDarkSkin() : getLightSkin();
    }
    
    function getSelectedSkin() {
      return getSkinForState(getSkinModeState());
    }
    
    function saveColorChanges() {
      const htmlStyle = window.getComputedStyle(document.documentElement);
      const backgroundColor = htmlStyle.backgroundColor;
      setCookie(selectedSkinBackgroundColorKey, backgroundColor);
    };    

    function setIcon(target, isOff) {
      if (isOff) {
        target.classList.remove('fa-toggle-on');
        target.classList.add('fa-toggle-off');
      }
      else {
        target.classList.remove('fa-toggle-off');
        target.classList.add('fa-toggle-on');
      }
    }
    
    function toggleSkin(event) {
      var off = getSkinModeState() == darkModeStateOff;
      
      setSkinModeState(off ? darkModeStateOn : darkModeStateOff);
      setIcon(event.target, off == false);

      event.currentTarget.blur();
    }

    /* As of the dynamic skin stylsheet loading, it is better to wait for the finish of the whole page content load and rendering to avoid apperance of
      half rendered content parts (it is better to see an empty content even if it might appear in a different bacground color that the skin has)
    */
    window.addEventListener("load", function () {
      var container = document.getElementById("full-page-container");
      if (container)
        container.classList.remove('hidden');

      // Why this is not working?!?!
      //document.body.style.removeProperty("backgroundColor");
      document.body.style.backgroundColor = "";

      var currSkinModeState = getSkinModeState();
      setIcon($('#skin-button').find('.masthead_button_icon')[0], currSkinModeState == darkModeStateOff);

      $("#skin-button").on("click", toggleSkin);

      // TODO: See, setSkinModeState - stylesheet.onload
      // setTimeout(function () {
      //  saveColorChanges();
      //}, 100);
    });

    document.addEventListener("DOMContentLoaded", function () {
      const skinBackgroundColor = getCookie(selectedSkinBackgroundColorKey);
      if (skinBackgroundColor)
        document.body.style.backgroundColor = skinBackgroundColor;
    });

    // These are just for always saving a default to the cookiestore if missing
    getLightSkin();
    getDarkSkin();

    setSkinModeState(getSkinModeState());

  })();
</script>
