{% comment %}
<!-- Dynamic loading of the user selected skin stylesheet -->
{% endcomment %}

{% comment %}<!-- NOTE: the 'default' skin is in the 'main.css', see the main.scss file for details -->{% endcomment %}
<link rel="stylesheet" id="skinedStylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<style>
  #full-page-container.full-page-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: contents;
  }

  #full-page-container.hidden {
    visibility: hidden;
    display: none;
  }
</style>

<script async="false">

  const docRoot = '{{ site.baseurl }}';
  const darkSkin = 'midnight';
  const lightSkin = 'default';
  const searchEnabled = {% if site.search == true %} true {% else %} false {% endif %};
  const searchFromMastHead = {% if site.search_from_masthead == true %} true {% else %} false {% endif %};

  function docPrefix() {
    return (docRoot != '' ? docRoot + '/' : '');    
  }

  function setCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/; SameSite=Strict";
  }

  function getCookie(name, defaultValue = null) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1, c.length);
      }
      if (c.indexOf(nameEQ) == 0) {
        return c.substring(nameEQ.length, c.length);
      }
    }
    return defaultValue;
  }

  (function () {
    function setSkin(skin) {
      const stylesheet = document.getElementById('skinedStylesheet');
      //stylesheet.onload = saveChanges;
      stylesheet.href = docPrefix() + '/assets/css/main' + (skin == 'default' ? '' : '_' + skin) + '.css';
      setCookie('skin', skin, 365 * 100);
    }

    function toggleSkin(event) {
        if (getCookie('skin', 'default') == darkSkin) {
          event.target.classList.remove('fa-toggle-on');
          event.target.classList.add('fa-toggle-off');
          setSkin(lightSkin);
        }
        else {
          event.target.classList.remove('fa-toggle-off');
          event.target.classList.add('fa-toggle-on');
          setSkin(darkSkin);
        }
        event.currentTarget.blur();
      }

    function toggleIcon(target, off) {
      if (off) {
        target.classList.remove('fa-toggle-on');
        target.classList.add('fa-toggle-off');
      }
      else {
        target.classList.remove('fa-toggle-off');
        target.classList.add('fa-toggle-on');
      }
    }
    
    function toggleSkin(event) {
      var off = getCookie('skin', 'default') == darkSkin;
      
      if (off)
        setSkin(lightSkin);
      else
        setSkin(darkSkin);
      toggleIcon(event.target, off);

      event.currentTarget.blur();
    }

    /* As of the dynamic skin stylsheet loading, it is better to wait for the finish of the whole page content load and rendering to avoid apperance of
      half rendered content parts (it is better to see an empty content even if it might appear in a different bacground color that the skin has)
    */
    window.addEventListener("load", function () {
      function saveChanges() {
        const htmlStyle = window.getComputedStyle(document.documentElement);
        const backgroundColor = htmlStyle.backgroundColor;
        setCookie('skin-background-color', backgroundColor, 365 * 100);
      };    

      var container = document.getElementById("full-page-container");
      if (container)
        container.classList.remove('hidden');

      // Why this is not working?!?!
      //document.body.style.removeProperty("backgroundColor");
      document.body.style.backgroundColor = "";
      if (storedSkin !== 'default')
        toggleIcon($('#skin-button').find('.masthead_button_icon')[0], false);
  
      $("#skin-button").on("click", toggleSkin);

      saveChanges();
    });

    document.addEventListener("DOMContentLoaded", function () {
      const skinBackgroundColor = getCookie('skin-background-color');
      if (skinBackgroundColor)
        document.body.style.backgroundColor = skinBackgroundColor;
    });

    const storedSkin = getCookie('skin', 'default');
    if (storedSkin !== 'default')
      setSkin(storedSkin);

  })();
</script>
