/* ==========================================================================
   SEARCH
   ========================================================================== */

.layout--search {
  .archive__item-teaser {
    margin-bottom: 0.25em;
  }
}

#search_hint {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -110px;
  max-width: 100px;
  font-size: 12px;
  margin-left: 10px;
}

.search-input {
  flex: 1; /* Allow input to grow to fill remaining space */
  margin: 0 0.5em 0 0;
  padding: 0.25em;
  border: none;
  box-shadow: none;
  background-color: rgba($selection-color, 0.15); //transparent;
  
  &.from-masthead {
    font-size: $type-size-6;    
    @include breakpoint($large) {
      font-size: $type-size-5;
    }
    @include breakpoint($x-large) {
      font-size: $type-size-5; // 4 is unnecessarily large here
    }
  }

  &.from-search-content {
    font-size: $type-size-3;    
    @include breakpoint($large) {
      font-size: $type-size-2;
    }
    @include breakpoint($x-large) {
      font-size: $type-size-2; // 3 is unnecessarily large here
    }
  }
}

.search-content {
  display: none;
  visibility: hidden;
  padding-top: 1em;
  padding-bottom: 1em;

  &.is--visible {
    display: block;
    visibility: visible;
    flex: 1 0 auto;

    &::after {
      content: "";
      display: block;
    }
  }

  .results__found {
    margin-top: 0.5em;
    font-size: $type-size-6;
  }

  .results.from-masthead {
    .list__item, .results__found {
      display: flex; /* Use Flexbox */
      justify-content: center; /* Horizontally center the content */
    }
  }

  &__inner-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }
  }

  &__form {
    display: none;
    visibility: hidden;
    background-color: transparent;
    
    &.from-masthead {
      margin: 0;
      padding: 0.1em;

      width: 70%;
      min-width: 100px;
      max-width: 300px;
      @include breakpoint($large) {
        width: 60%;
        max-width: 400px;
      }
      @include breakpoint($x-large) {
        width: 50%;
        max-width: 600px;
      }
    }

    &.from-search-content {
      border-bottom: dotted rgba($outline-color, 0.08);
    }
  }

  &__form.is--visible {
    display: inline-flex;
    align-items: center; // end; /* vertical bottom for inline-flex */
    visibility: visible;

    a.search-help {
      color: $button-color !important;
      &:visited {
        color: $button-color !important;
      }

      &:hover {
        color: mix(#000, $button-color, 25%);
      }
      
      text-decoration: none !important;
    }

    &.from-masthead {
      a.search-help {
        margin: 0;
      }
    }
    
    &::after {
      display: inline-flex;
    }
  }

  a:not(.btn), a:not(.search-help) {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  .archive__item {
    margin-bottom: 2em;

    width: 100%;

    @include breakpoint($large) {
      width: 75%;
    }

    @include breakpoint($x-large) {
      width: 50%;
    }
  }

  .archive__item-title {
    margin-top: 0;
  }

  .archive__item-excerpt {
    margin-bottom: 0;
  }
}

/* Algolia search */

.ais-search-box {
  max-width: 100% !important;
  margin-bottom: 2em;
}

.archive__item-title .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  text-decoration: underline;
}

.archive__item-excerpt .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  font-weight: bold;
}
